@import "reset"

@import "variables"
@import "../coverprofile/styles/variables"


body
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background-color: $mainColor

$stepButtonSize: 20px
$stepButtonBorder: 2px
.step-button
	display: inline-block
	width: $stepButtonSize
	height: $stepButtonSize
	font-size: $stepButtonSize
	border-width: $stepButtonBorder
	border-radius: $stepButtonSize
	text-align: center
	border-style: outset
	color: white
	background-color: $facebookBlue

$updateButtonWidth: 60px
.urlForm
	input
		border-style: inset
		border-width: 2px
		border-radius: 3px
		width: $coverWidth - $updateButtonWidth - (2*($stepButtonSize + (2 *$stepButtonBorder)))
	button
		width: $updateButtonWidth

#forkme
	width: 30px
	height: 30px