@import "reset"

$coverWidth: 851px
$coverHeight: 315px

// Facebook scales a 180x180 picture down to 160
$profileWidth: 160px
$profileHeight: 160px

$profileTop: 176px
$profileLeft: 16px
$profileBorder: 4px

$mainColor: rgb(233, 234, 237)

body
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background-color: $mainColor

#urlForm
	input
		// flex-grow: 5
		border-style: solid
		border-width: 2px
		border-radius: 3px
	input::before,input::after
		content: "1"
	button
		flex-grow: 1

$coverBorder: 1px

#maker

	position: relative
	height: $profileHeight + $profileTop + $profileBorder
	width: $coverWidth + ( $coverBorder * 2)
	margin: 5px


	*
		position: absolute


	#cover
		// Don't touch the width and height of a canvas
		// stupid rules..
		// width: 851px
		// height: 315px
		left: 0px
		top: 0px
		border: $coverBorder outset $mainColor
		z-index: 1

	#profile
		width: $profileWidth
		height: $profileHeight
		z-index: 999



		top: $profileTop
		left: $profileLeft
		vertical-align: center
		border-color: white
		border-radius: 2px
		border-style: outset
		border-width: $profileBorder
