@import "reset"

$coverWidth: 851px
$coverHeight: 315px

// Facebook scales a 180x180 picture down to 160
$profileWidth: 160px
$profileHeight: 160px

$profileTop: 176px
$profileLeft: 16px
$profileBorder: 4px

// The fb background
$mainColor: rgb(233, 234, 237)
$facebookBlue: rgb(58, 87, 149)

body
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background-color: $mainColor

$stepButtonSize: 20px
$stepButtonBorder: 2px
.step-button
	display: inline-block
	width: $stepButtonSize
	height: $stepButtonSize
	font-size: $stepButtonSize
	border-width: $stepButtonBorder
	border-radius: $stepButtonSize
	text-align: center
	border-style: outset
	color: white
	background-color: $facebookBlue

$updateButtonWidth: 60px
#urlForm
	input
		border-style: inset
		border-width: 2px
		border-radius: 3px
		width: $coverWidth - $updateButtonWidth - (2*($stepButtonSize + (2 *$stepButtonBorder)))
	button
		width: $updateButtonWidth


$coverBorder: 1px

#maker

	position: relative
	height: $profileHeight + $profileTop + $profileBorder
	width: $coverWidth + ( $coverBorder * 2)
	margin: 5px


	*
		position: absolute


	#cover
		// Don't touch the width and height of a canvas
		// stupid rules..
		// width: 851px
		// height: 315px
		left: 0px
		top: 0px
		border: $coverBorder outset $mainColor
		z-index: 1

	#profile
		width: $profileWidth
		height: $profileHeight
		z-index: 999



		top: $profileTop
		left: $profileLeft
		vertical-align: center
		border-color: white
		border-radius: 2px
		border-style: outset
		border-width: $profileBorder
